body{
  text-align: center;
  margin: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  background-color:darkslategray;
  color:blanchedalmond;
}

#global-area{
  display:flex;
  justify-content: center;
  /* flex-wrap:wrap; */
  background-color:teal;
}
#global-tm-area{
  display: flex;
  background-color:green;
}

#global-explore-area{
  display: flex;
  background-color: blue;
}
#global-game-status{
  display: flex;
  flex-direction: column;
  background-color:green;
}

#players-area{
  display:flex;
  justify-content:space-around;
  background-color:brown;
}
.player-area{
  display:flex;
  flex-direction: column;
  border:2px solid black;
}
.player-score-area{
  display:flex;
  flex-direction: column;
  border:2px solid black;
}
.player-tms{
  display: flex;
  border:2px solid black;
}
.player-complete-tms{
  display:flex;
  border:2px solid black;
}

.card{
  border: 1px solid black;
  border-radius: 10px;
  width: 6.4vw;
  height:10vw;
  padding: .7vw;
  margin: 1vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.tm-top{
  display:flex;
  justify-content: space-between;
}
.tm-bonus{
  display:flex;
  flex-direction: column;
  background-color:bisque;
  color:black;
  font-size: smaller;
}
.tm-grid{
  display:grid;
  grid-template: repeat(4,1fr)/repeat(4,1fr);
  justify-content:center;
  align-content: center;
  grid-template-areas:"r1 r2 r3 r4" "r5 r6 r7 r8" "r9 r10 r11 r12" "r13 r14 r15 r16"
}
#explore-tile-grid{
  display:grid;
  /* grid-template: repeat(3,1.25vw)/repeat(2,1.25vw); */
  grid-template: repeat(4,1fr)/repeat(4,1fr);
  justify-content:center;
  /* align-content: center; */
  /* background-color: aqua; */
}
.r-1{
  grid-area: r1;
}
.r-2{
  grid-area: r2;
}
.r-3{
  grid-area: r3;
}
.r-4{
  grid-area: r4;
}
.r-5{
  grid-area: r5;
}
.r-6{
  grid-area: r6;
}
.r-7{
  grid-area: r7;
}
.r-8{
  grid-area: r8;
}
.r-9{
  grid-area: r9;
}
.r-10{
  grid-area: r10;
}
.r-11{
  grid-area: r11;
}
.r-12{
  grid-area: r12;
}
.r-13{
  grid-area: r13;
}
.r-14{
  grid-area: r14;
}
.r-15{
  grid-area: r15;
}
.r-16{
  grid-area: r16;
}
.fourteen{
  background-color:blueviolet;
}
.twelve{
  background-color:orangered;
}
.ten{
  background-color: green;
}
.eight{
  background-color: blue;
}

.region-true{
  border: 1px solid black;
  width: 1.25vw;
  height: 1.25vw;
}
.region-false{
  border:0px;
  background-color: rgba(0,0,0,1)
}
.banana-true{
  background: url(clipart/banana.png);
  background-size: 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.coconut-true{
  background: url(clipart/coconut.png);
  background-size: 1.4vw;
  background-position: center;
  background-repeat: no-repeat;
}
.gem-true{
  background: url(clipart/gem.png);
  background-size: 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
  
}