body{
  text-align: center;
  margin: 0;
  background-color:darkslategray;
  color:blanchedalmond;
}
#instructions{
  text-align:left;
  margin: 20px;
}
nav{
  display: flex;
  justify-content: center;
  background-color:blanchedalmond;
  text:darkslategray;
  gap: 3vw;
}

#global-area{
  display:flex;
  justify-content: center;
  background-color:teal;
}
#global-tm-area{
  display: flex;
  background-color:darkolivegreen;
}
#global-explore-area{
  display: flex;
  background-color:peru;
}
#global-game-status{
  display: flex;
  flex-direction: column;
  background-color:darkolivegreen;
  padding: 1vw;
}

#players-area{
  display:flex;
  justify-content:space-around;
}

.player-area{
  display:flex;
  flex-direction: column;
  border:2px solid black;
}

.player-score-area{
  display:flex;
  justify-content: space-around;
  border:2px solid black;
}

.player-tms-area{
  display: flex;
  justify-content: space-evenly;
  border:2px solid black;
}
.player-completed-tms-area{
  display:flex;
  justify-content: space-evenly;
  border:2px solid black;
}
.player-header{
  padding: 1vw;
}

.player-score-item{
  border: 1px solid black;
  width: 8vw;
  height: 8vw;
  padding: .7vw;
  margin: 1vw;
  font-size:smaller;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.card{
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  width: 6.4vw;
  height:10vw;
  padding: .7vw;
  margin: 1vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#F9C55C;
}
.inactive-card{
  border: hidden;
  border-radius: 10px;
  width: 6.4vw;
  height:10vw;
  padding: .7vw;
  margin: 1vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.tm-top{
  display:flex;
  justify-content: space-between;
  color:white;
}
.tm-bonus{
  display:flex;
  flex-direction: column;
  background-color:bisque;
  color:black;
  font-size: smaller;
}
.tm-grid{
  display:grid;
  grid-template: repeat(4,1fr)/repeat(4,1fr);
  justify-content:center;
  align-content: center;
  grid-template-areas:"r1 r2 r3 r4" "r5 r6 r7 r8" "r9 r10 r11 r12" "r13 r14 r15 r16"
}
#explore-tile-grid{
  display:grid;
  grid-template: repeat(4,1fr)/repeat(4,1fr);
  justify-content:center;
}
.r-1{
  grid-area: r1;
}
.r-2{
  grid-area: r2;
}
.r-3{
  grid-area: r3;
}
.r-4{
  grid-area: r4;
}
.r-5{
  grid-area: r5;
}
.r-6{
  grid-area: r6;
}
.r-7{
  grid-area: r7;
}
.r-8{
  grid-area: r8;
}
.r-9{
  grid-area: r9;
}
.r-10{
  grid-area: r10;
}
.r-11{
  grid-area: r11;
}
.r-12{
  grid-area: r12;
}
.r-13{
  grid-area: r13;
}
.r-14{
  grid-area: r14;
}
.r-15{
  grid-area: r15;
}
.r-16{
  grid-area: r16;
}
.fourteen{
  background-color:blueviolet;
}
.twelve{
  background-color:orangered;
}
.ten{
  background-color: green;
}
.eight{
  background-color: blue;
}

.region-true{
  border: 1px solid black;
  width: 1.25vw;
  height: 1.25vw;
}
.region-false{
  border:0px;
}
.region-marked{
  border: 1px solid black;
  width: 1.25vw;
  height: 1.25vw;
  font-size: 1vw;
}

/*
.banana-true{
  background: url(clipart/banana.png);
  background-size: 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
.coconut-true{
  background: url(clipart/coconut.png);
  background-size: 1.4vw;
  background-position: center;
  background-repeat: no-repeat;
}
.gem-true{
  background: url(clipart/gem.png);
  background-size: 1.2vw;
  background-position: center;
  background-repeat: no-repeat;
}
*/